/api/ @numary/dev-backend
/cmd/ @numary/dev-backend
/config/ @numary/dev-backend
/core/ @numary/dev-backend
/ledger/ @numary/dev-backend
*.go @numary/dev-backend

/.devcontainer @flemzord
/.github @flemzord
