Alix Bott <alix@formance.com> <alix@formance.com>
Alix Bott <alix@formance.com> <bott.alix@gmail.com>
Arnaud Alloiteau <arnaud@formance.com> <117188759+aalloiteau@users.noreply.github.com>
Geoffrey Ragot <geoffrey@formance.com> <geoffrey.ragot@gmail.com>
Geoffrey Ragot <geoffrey@formance.com> <geoffreyragot@gmail.com>
Geoffrey Ragot <geoffrey@formance.com> <geoffreyragot@MBP-de-Geoffrey.nodes.local>
Geoffrey Ragot <geoffrey@formance.com> <gfyrag@users.noreply.github.com>
Geoffrey Ragot <geoffrey@formance.com> <gfyrag@work.local>
Maxence Maireaux <maxence@formance.com> <maxence@maireaux.fr>
Paul Nicolas <paul@formance.com> <paul.nicolas.go@gmail.com>
Sylvain Rabot <sylvain@formance.com> <sylvain@abstraction.fr>
