# permissions for end users to view versions.
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: clusterrole
    app.kubernetes.io/instance: versions-viewer-role
    app.kubernetes.io/component: rbac
    app.kubernetes.io/created-by: formance-operator
    app.kubernetes.io/part-of: formance-operator
    app.kubernetes.io/managed-by: kustomize
  name: versions-viewer-role
rules:
- apiGroups:
  - stack.formance.com
  resources:
  - versions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - stack.formance.com
  resources:
  - versions/status
  verbs:
  - get
