volumes:
  postgres:

services:
  postgres:
    extends:
      file: ../../docker-compose.yml
      service: postgres

  ledger:
    extends:
      file: ../../docker-compose.yml
      service: ledger
    depends_on:
      - postgres
    image: golang:1.22-alpine
    entrypoint: go run main.go serve
    volumes:
      - ../..:/src
    working_dir: /src
    environment:
      CGO_ENABLED: "0"
      DEBUG: "true"

  paythefly-connector:
    build: .
    ports:
      - "8081:8081"
    depends_on:
      - ledger
    environment:
      PAYTHEFLY_PROJECT_KEY: "${PAYTHEFLY_PROJECT_KEY}"
      LEDGER_URL: "http://ledger:3068"
      LEDGER_NAME: "paythefly"
      LISTEN_ADDR: ":8081"
      # BSC=18, TRON=6
      PAYTHEFLY_DECIMALS: "18"
