version: '3.8'
volumes:
  postgres:

services:
  postgres:
    image: "postgres:14-alpine"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U payments"]
      interval: 10s
      timeout: 5s
      retries: 5
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: "payments"
      POSTGRES_PASSWORD: "payments"
      POSTGRES_DB: "payments"
      PGDATA: /data/postgres
    volumes:
      - postgres:/data/postgres

  payments:
    image: golang:1.19.3-alpine3.16
    command: go run ./ migrate up && go run ./ server
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1:8080/_healthcheck" ]
      interval: 10s
      timeout: 5s
      retries: 5
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    volumes:
      - .:/app
    working_dir: /app
    environment:
      DEBUG: ${DEBUG:-"true"}
      POSTGRES_URI: postgres://payments:payments@postgres/payments?sslmode=disable
