:8080 {
    handle_path /api/ledger/* {
        reverse_proxy ledger:3068
    }
    handle_path /api/auth/* {
        reverse_proxy auth:8080
    }
    handle_path /api/orchestration/* {
        reverse_proxy api:8080
    }
    handle_path /api/wallets/* {
        reverse_proxy wallets:8080
    }
}
