name: Publish
on:
  push:
    tags:
      - '*'

jobs:
  Publish:
    name: 'Publish'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Setup Java JDK
        uses: actions/setup-java@v3
        with:
          java-version: 14
          cache: "maven"
      - name: Release to Nexus Repository
        uses: samuelmeuli/action-maven-publish@v1
        with:
          gpg_private_key: {{ gpg_private_key }}
          gpg_passphrase: {{ gpg_passphrase }}
          nexus_username: {{ nexus_username }}
          nexus_password: {{ nexus_password }}
