{{ template "header.html" . }}

<h1>Sign in to Formance</h1>
<div class="card">
  <form method="post" action="{{ .PostURL }}">
    <input tabindex="1" required id="login" name="login" type="text" placeholder="email" {{ if .Username }} value="{{ .Username }}" {{ else }} autofocus {{ end }}/>
    <span class="box"></span>
    <input tabindex="2" required id="password" name="password" type="password" placeholder="password" {{ if .Invalid }} autofocus {{ end }}/>
    {{ if .Invalid }}
    <span class="box"></span>
    <div class="error">
      Invalid email and/or password
    </div>
    {{ end }}
    <span class="box"></span>
    <button class="button--primary">
      <span class="button__icon button__icon--local-light"></span>
      <span class="button__text">Login with Email</span>
    </button>
  </form>
  {{ if .BackLink }}
  <span class="box"></span>
  <a class="backlink neutral500 ta--center" href="{{ .BackLink }}">Select another login method.</a>
  {{ end }}
</div>

{{ template "footer.html" . }}
