name: Benchmark
on:
  workflow_dispatch:
  pull_request:
    types: [ assigned, opened, synchronize, reopened, labeled ]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  Benchmark:
    runs-on: "github-001"
    if: contains(github.event.pull_request.labels.*.name, 'benchmarks') || github.ref == 'refs/heads/main'
    steps:
      - uses: 'actions/checkout@v4'
        with:
          fetch-depth: 0
      - run: go build -o /tmp/ledger ./
      - run: echo "running actions as ${USER}"
      - run: sudo systemctl restart ledger
      - run: >
          earthly
          --allow-privileged
          ${{ contains(github.event.pull_request.labels.*.name, 'no-cache') && '--no-cache' || '' }}
          ./test/performance+run --args="-benchtime 10s --ledger.url=http://localhost:3068"
      - run: >
          earthly
          --allow-privileged
          ${{ contains(github.event.pull_request.labels.*.name, 'no-cache') && '--no-cache' || '' }}
          ./test/performance+generate-graphs
      - uses: actions/upload-artifact@v4
        with:
          name: graphs
          path: test/performance/report