name: Benchmarks
on:
  workflow_call

jobs:
  bench:
    runs-on: ubuntu-latest
    steps:
      - name: Install task
        uses: arduino/setup-task@v1
      - uses: actions/checkout@v3
      - uses: actions/setup-go@v3
        with:
          go-version-file: 'go.mod'
      - name: Run bench
        run: task install:perf bench:postgres
